<!-- quotes/index.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Quote Board</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script></head>
<body>

<script>
  $(document).ready(function() {
    setInterval(function() {
      $.post('/slack/events', function(response) {
        console.log('Received response:', response);
        location.reload();
      });
    }, 50000); // 50000 milliseconds = 50 seconds
  });
</script>


<div class="quote-board">
  <h1>Quote Board</h1>
  <ul class="quote-list">
    <% @quotes.each do |quote| %>
      <li class="quote-item"><%= quote %></li>
    <% end %>
  </ul>
</div>

</body>
</html>
